*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
    height: max-content;
    padding: 2%;
    background-color: black;
    color: white;
}

.portfolio{
    flex: 50%;
}

.menu{
    flex: 30%;
}
.menu span{
    padding: 2%;
}

.menu a:hover{
    color: grey;

}

.titulos{
    display: flex;
    background-color: lightgray;
}

.titulos-container{
    flex: 50%;
    margin: 8% 0% 0% 5%;
}

.titulos img{
    flex: 50%;
    width: 25%;      
}

.miNombre{
    font-size: 45px;
    line-height: 1;
}

.nombre{
    font-size: 70px;
    font-weight: 600;
    line-height: 1;
}

.profesion{
    font-size: 40px;
    background: black;
    color: white;
}

.about{
    display: flex;
}

.about-img-container{
    flex: 50%;
    height:400px;
}

.about-img-container img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.about-container{
    flex: 50%;
    margin: 6% 1% 0% 1%;
}

.titulo{
    font-size: 25px;
    font-weight: 500;
}

.subtitulo{
    font-size: 35px;
    font-weight: 700;
}

.subrayado-subtitulo{
    border: 2px solid yellow;
    width: 40%;
    margin: 0% 0% 2% 5%;
}

.work h2, .stack h2 {
    text-align: center;
    font-size: 35px;
    padding: 3%;
}

.stack-container{
    display: flex;
    justify-content: space-around;
}

.stack img, .work img {
    max-width: 100%;
    max-height: 100%;
}

.stack{
    height: 380px;
    background-color: whitesmoke;
}

.img-container-stack{
    height: 200px;
    width: 200px;
}

.work-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.img-container-work{
    margin-bottom: 8%;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

footer h3, footer p{
    padding: 1%;
}

.contact-container{
    display: flex;
}

.contacto{
    font-size: 25px;
    flex: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.redes{
    font-size: 25px;
    padding-left: 10%;
    flex: 30%;
    text-align: initial;
}

svg{
    width: 8%;
    fill: white;
}

footer a:hover{
    color: grey;
}









