/*div, p{
    border: 1px solid black;
}*/

*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.grid-container{
    display: grid;
}

nav{
    display: grid;
    justify-content: space-between;
    grid-template-areas: 'portfolio menu';
    height: max-content;
    padding: 2%;
    background-color: black;
    color: white;
}

.portfolio{
    grid-area: portfolio;
}

.menu{
    grid-area: menu;
}

.titulos{
    display: flex;
    background-color: lightgray;
}

.titulos-container{
    flex: 50%;
    margin: 10% 0% 0% 5%;
}

.titulos img{
    flex: 50%;
    width: 25%;      
}

.miNombre{
    font-size: 45px;
    line-height: 1;
}

.nombre{
    font-size: 70px;
    font-weight: 600;
    line-height: 1;
}

.profesion{
    font-size: 40px;
    background: black;
    color: white;
}

.about{
    display: flex;
}

.about-img-container{
    flex: 50%;
    height:400px;
}

.about-img-container img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.about-container{
    flex: 50%;
    margin: 10% 1% 0% 1%;
}

.titulo{
    font-size: 20px;
    font-weight: 500;
}

.subtitulo{
    font-size: 30px;
    font-weight: 700;
}

.subrayado-subtitulo{
    border: 2px solid yellow;
    width: 40%;
    margin: 0% 0% 2% 5%;
}

.work h2, .stack h2 {
    text-align: center;
    font-size: 35px;
    margin: 3%;
}

.stack-container{
    display: flex;
    justify-content: space-around;
}

.stack img, .work img {
    max-width: 100%;
    max-height: 100%;
}

.stack{
    height: 450px;
    background-color: whitesmoke;
}

.img-container-stack{
    height: 200px;
    width: 200px;
}

.work{
    height: 450px;
}

.work-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.img-container-work{
    margin-bottom: 8%;
}









